
 .container {
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 6.5px 12px 1px #000;
        padding-top: 7%;
 }

 .mtable {
        width: 80%;
        font-family:Verdana, Geneva, Tahoma, sans-serif
 }

 th, td {
        
        padding: 3px 20px; 
 }

.addtitle {
        padding-left: 5%; 
        padding-right: 5%;  
        margin-top: 9px;
        margin-bottom: 6px; 
        border: 1px solid #fff;
        border-radius: 4px; 
}

.addtopicbutton {
        background: none;
        border: none;
        color:white;
}

 .rightcell {
        
        border-left: 1px solid #e46c2b;
 }

#rightcell {
        background-color: rgba(208, 108, 43, 1);
}

 .mtable tr:nth-child(even) {
       background-color: #fff
 }

.mtable tr:nth-child(odd) {
       background-color: #DCDCDC;
 }

.mtable th {
       background-color: rgba(208, 108, 43, 0.6);
 }