<app-header></app-header>

 <main>
    <div class="container">

      <div class="row" style="width: 80%;" align="center">
          <div class="col-sm-11">Topics</div>
          <div class="col-sm-1" style="color:#e46c2b;" routerLink="/admin/makala" routerLinkActive="active">Done</div>
      </div>
      <hr style="width: 80%; height: 2px; background-color:#e46c2b; 
                 margin:3px auto;">
      <table class="mtable" align="center">
         <tr><th width="70%"></th><th width="30%" class="rightcell" id="rightcell" style="color:white;">+ Add new topic</th></tr>
         <tr><td>Lorem Ipsum 1</td><td class="rightcell">x Remove </td></tr>
         <tr><td>Lorem Ipsum 2 </td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 3</td><td class="rightcell">x Remove</td></tr>
         <tr><td><a routerLink="/admin/makala-subtopics" routerLinkActive="active" style="color:#000;">Lorem Ipsum 4</a></td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 5</td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 6</td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 7</td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 8</td><td class="rightcell">x Remove</td></tr>
         <tr><td>.</td><td class="rightcell">.</td></tr>
         <tr><td>. </td><td class="rightcell"> .</td></tr>                                    
      </table>

      <br><br><br><br>
      
    </div>
 </main>

<app-footer></app-footer>