<main>
    <div class="container">

    <br><br><br><br>
    
    <!--Edit Food Categories-->
    <div class="addcategory">
        <h3>Add new category</h3>
        <input [(ngModel)]="newCategory.category_name" placeholder="Category name">
        <button class="btn-success" (click)="createMakalaCategory()">+</button>
     </div>
    <br><br>


    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="pull-right"><span class="badge badge-info">8</span>

            </div>
        
        <div class="block-content collapse in">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="number">#</th>
                        <th class="name">Category Name</th>
                        <th class="edit">Edit</th>
                        <th class="remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ctgry of makalacategories; let i = index">
                        <td class="number">{{i + 1}}</td>
                        <td><span *ngIf="!showEraser[i]">{{ctgry.category_name}}</span> <input *ngIf="showEraser[i]" [(ngModel)]="category.category_name" placeholder="{{ctgry.category_name}}"><button class="ti-close" *ngIf="showEraser[i]" (click)="alterEditMode(i)"></button></td>
                        <td class="edit"><button (click) = "sendUpdate(ctgry.id, i)"><span class="ti-eraser" *ngIf="!showEraser[i]"></span><p *ngIf="showEraser[i]">Confirm</p></button></td>
                        <td class="remove"><button (click)="deleteMakalaCategory(ctgry.id, i)"><span class="ti-trash"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <br>

 </div>
 <br><br><br><br><br><br>

 <!--Edit Food names-->
 <div class="addcategory">
    <h3>Add new Food</h3>
    <input [(ngModel)]="newFood.name" placeholder="Food Name">
    <button class="btn-success" (click)="createFood()">+</button>
 </div>
<br><br>


<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="pull-right"><span class="badge badge-info">9</span>

        </div>
    
    <div class="block-content collapse in">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="number">#</th>
                    <th class="name">Food Name</th>
                    <th class="edit">Edit</th>
                    <th class="remove">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let afood of foods; let i = index">
                    <td class="number">{{i + 1}}</td>
                    <td><span *ngIf="!showFoodEraser[i]">{{afood.name}}</span><input [(ngModel)]="food.name" *ngIf="showFoodEraser[i]" placeholder="{{afood.name}}"><button class="ti-close" *ngIf="showFoodEraser[i]" (click)="alterFoodEditMode(i)"></button></td>
                    <td class="edit"><button (click) = "sendFoodUpdate(afood.id, i)"><span class="ti-eraser" *ngIf="!showFoodEraser[i]"></span><p *ngIf="showFoodEraser[i]">Confirm</p></button></td>
                    <td class="remove"><button (click)="deleteFood(afood.id, i)"><span class="ti-trash"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<br>

</div>

</div>
 </main>

