 <!-- Modal -->
      <div id="myModal" class="modal">

       <div class="modal-content">
         <div class="modal-header">
            <span class="close">&times;</span>
            <h4>Kupata makala hizi BURE kupitia Whatsapp, ingiza namba ya simu ya Whatsapp hapa...
                . au kujiunga na programu yetu
                 <br><br>       
                 <button class="jiungebutton" 
                 (click)= "togglemyId()">Jiunge na program
                 </button></h4>

                 <app-kujiunga *ngIf="showmyId"></app-kujiunga>

            <div class="clear"></div>
         </div>
         <div class="modal-body">
           
           <form>
           <input type="text" name="comment_author" id="comment_author" value=""  placeholder="Namba ya Whatsapp" required="required"style="display: block;margin: 10px 20px;" >
           </form>

         </div>
         <div class="modal-footer">
            <h4 style="margin-right: 20%">Sawa</h4>
         </div>
       </div>
      </div>
      
      <br><br><br><br>
      <br><br><br><br>
    
    