
.clear {
       clear: both;            /* to solve float overlapping issues */ 
}

 .container {
        background-color: gray;
        box-shadow: 1px 6.5px 12px 1px #000;
        padding-top: 3%;
        padding-right: 5%;
 }

 .modal {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);/* fallback color */
        background-color: rgba(0,0,0,0.4);
 }
 
 .modal-content {
 position: relative;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    margin-top: 260px;
    padding: 0;
    border: 1px solid #888;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
        margin: 3px 5px;
        color: rgba(0,0,0,0.8);
}

.modal-header {
        font-size: 15px;
        padding: 23px 40px;
        color: #ffffff;
        border-bottom:  none;
        border-top-left-radius: 6px;
        border-top-right-radius:6px
        }

.modallinks :hover {
        font-size: 17.4px;
}

.modal-body {padding: 2px 16px;
             border:  none;
        }

.jiungebutton {
        color: #ffb6c1;
        font-size: 16px;
        height: 20px;
        width: auto;
        margin-right: 0px; 
        background: none;
        border: none;
 }

.contactfield{  
        width: 270px;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
}

input::placeholder {
  color:  #cdcdcd;
  }

.inputErrormessage {
        padding: 0 0 0 40px;
}

.modal-footer {
        color: #ffffff;
        font-size: 17px;
        padding: 2px 16px;
        border-top:  none;
        margin-top: 45px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px
        }

.sendbutton {
        color: #ffffff;
        margin-right: 24px;
        margin-bottom: 8px;
        background: none; 
        border: none;
}

 input {
    width: 35%;
    padding-left: 5px;
    border: 1px solid #652f85;
    border-radius: 4px;
}

 :-moz-placeholder {
    color: rgba(0,0,0,0.8);;
 }

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.inputErrormessage {
     color: orangered;
     background: none;
     margin: 0 0 0 233px;
}

.close {
        float: right;
        font-size: 28px;
        font-weight: bold;
}

.close:hover,
.close:focus {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
}

@media all and (max-width: 767px){
         .modal {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        
 }

        .modal-content {
        
        background-color: rgba(0,0,0,0.8);
        margin: 0 0 0 15%;
        padding: 0;
        border: 1px solid #888;
        width: 70%;
        position: absolute;
        bottom:10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
} 

.modal-header {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 0;
        text-align: left;
}

.modal-header p {
        font-size: 13px;
}

.modal-header p .jiungebutton{
        font-size: 14px;
        padding-left: 0;
}

.modal-body input {
        width: 90%;
}

.inputErrormessage {
        margin-left: 15px;
        padding: 0 0 0 8px;
}

input::placeholder {
        font-size: 13px;
  }


.modal-footer {
        color: #ffffff;
        font-size: 14px;
        padding: 2px 16px;
        border-top:  none;
        margin-top: 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px
        }

}


@media all and (max-width: 500px){
 .modal-content {
        
        background-color: rgba(0,0,0,0.8);
        margin: 0 0 0 15%;
        padding: 0;
        border: 1px solid #888;
        width: 70%;
        position: absolute;
        bottom:50px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
 }  
        }