.navdiv {
        position: relative;
        height: 149px;
} 

.navbar {
      text-align: center;
      color: #652f85;
      font-family: helvetica;
      background-color:#fff; 
      height: fit-content; 
      padding-right: 0; 
      margin-bottom: 0;        
      border-radius: none !important; 
          }

  .logorow {
      height: fit-content;
  }

  .icon {
      height: 400px;
      width: 300px;
      margin: auto;
   }
  
  .clogotext {
      height: 78px;
      padding-top: 39px;
      padding-left: 0;
  }

  .logotext {
      float: left;
      font-style: italic;
   }

   .navbar img {

       height: 65px;
       width: 65px;
       margin-top: 13px;
   }

  .navbar h3 {
      margin-top: 8px;
      margin-bottom: 0; 
  }

  .menuitems{
      background-color: #652f85;
      width: 100%;
      height: 50px;
      border-top: 3px solid #ffb6c1;
      padding: 10px 25px 7px 0 !important;
      margin-right: 0 !important;
      margin-top: 20px;
      
  }
  .nav { 
      margin-right: 2%;
  }

 .icon-bar {
      background: grey;
 }

 .nav li {
      margin-left: 30px;
      margin-top: 10px 0 0 0;
      height: 20px;
      float: right;
    }   
    
 nav ul li:hover {
        
        background-color:none !important;
        /*border-bottom: 2px solid #fff;    /*to be less conspicuous
        border-radius: 3px;*/
        height: 30px;
        background: rgba(0,0,0, 0.4);
        border-radius: 4px;
    }  

  nav ul li a {
        color: #fff !important;
        padding-top: 4px;
        height: 20px;
  }

  nav ul li a:hover {
        color: #ffb6c1 !important;
  }

 .Mwanzo .Mwanzo {
        color: #ffffff !important;
        background-color:none !important;
        /*border-bottom: 2px solid #fff;
        border-radius: 3px;*/
        height: 40px;
 }
  .showposts {
        background-color: #f4f4f4;
        margin: 0 0 0 0;
  }

  .drocol {
        padding: 0 15px 0 17px;
  }

  .sscol {
        padding-left: 30px;
  }

  .searchsection {
        width: 100%;
        background-color:none;
        float: right;
        margin-right: 0;
        margin-left: 0px;
        margin-top: 25px;
        position: relative; 
        top: 0;
 }

.Makalabutton {
        font-size: 15px;
        color: #fff;
        height: 60px;
        width: 200px;
        background: rgba(0,0,0, 0.4);
        padding: 7px 0 0 0;
        margin: 35px 0 0 0;
        border: none;
        border-radius: 4px;       
}

.Makalabutton p {
        display: inline-block;
        margin-right: 7px;
}

a > .Makalabutton  :hover {
        color: #fff;
        font-size: 17px;
}

.makalatitles {
        position: relative;
}

.glyphicon-list-alt {
        color: #fff;
}

.makala {
        padding-left: 0;
        padding-right: 0;
}

.search {
        background-color: #fff;
        padding: 35px 15px;
        height: fit-content;
        width: fit-content;
        box-shadow: 1px 0.5px 16px -9px #000;
}

.searchbox { 
       border: 1px solid  rgba(0,0,0, 0.4); 
       border-radius: 4px;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
       background-color: none;
       border-right: none;
       margin-top: 0;
}

input::placeholder {
  color: #cdcdcd;
  /*rgba(255,182,193, 0.4); */}

.Tafutabutton {
       border: 1px solid rgba(0,0,0, 0.3);
       border-radius: 4px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       background: rgba(0,0,0, 0.4); 
       border-left: none; 
       margin-left: -4px;   
} 

.glyphicon-search {
        color: #fff;
}

::-webkit-input-placeholder {
        color: #000;
        text-align: center;
}

.clear {
       clear: both;            /* to solve float overlapping issues */ 
}
