<div class="container">
<div class="box">
<div class="row selfdescription">
  <div class="cover">
  <div class="col-sm-4 logo">
     <p>Watoto wenye afya Bora<br> na Furaha tele !</p><br>
     <!--<img src="../../../assets/images/pp.jpg"> -->
     
  </div>

  <div class="col-sm-8 description">
     <p class="description p">Jua Lishe Bora inakupa huduma xyz..
       enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          adipiscing elit, sed do eiusmod tempor incididunt ut exercitation Nemo.
     
  </div>
    <!-- <img src="../../../assets/images/happykids.png" id="kid"> -->
     <div class="clear"></div>
  </div>
</div>
 <br>
 
 

<hr class="hrule">

<div class="row meetteam">
  <p>Ifahamu timu inayo fanya kazi usiku na mchana kufanikisha huduma hii<p>
  <div class="col-sm-4">
    <figure>
    <div class="team">
    <img src="../../../assets/images/JLB Mbanga.jpg" >
    </div>
    <figcaption>His Name, <br> Kiongozi
    <br><br><br></figcaption>
    </figure>
  </div>


  <div class="col-sm-4">
    <figure>
    <div class="team">
    <img src="../../../assets/images/JLB nutritionist.jpg" >
    </div>
    <figcaption>Her Name,<br>Mtaalamu Lishe
    <br><br><br></figcaption>
    </figure>
  </div>


  <div class="col-sm-4">
    <figure>
    <div class="team">
    <img src="../../../assets/images/JLB Zak.jpg" >
    </div>
    <figcaption>His Name, <br>Mratibu wa mitandao<br> ya kijamii
    <br><br><br></figcaption>
    </figure>
  </div>

</div>
 <br><br>
 <img src="../../../assets/images/healthystuffs.png" class="fruits">
 <div class="clear"></div>

</div>

<!--<div class="row contacts">
 <p>Wasiliana na Jumuia ya JLB<p>
 <img src="../../../assets/images/facebook-logo.png" class="socioicon">
 <img src="../../../assets/images/whatsapp-logo.png" class="socioicon">
 <img src="../../../assets/images/little-mobile.png" class="socioicon">
 </div> -->
</div>


