 .container {
        background-color: #fff;
        box-shadow: 1px 6.5px 12px 1px #000;
        padding-top: 3%;
        padding-left: 3%; 
        padding-right: 10%;
 }

 .jiungebutton {
        height: 20px;
        width: auto;
        margin-right: 0px; 
        float: right;
        background: none;
        border: none;
 }

 .clear {
       clear: both;            /* to solve float overlapping issues */ 
}