 .container {
        background-color: #f7f7f7;
       
        padding:15px 80px 0px 80px;
 }

 .box {
        width: 100%;
        padding:40px;
        background-color: #fff;
        border: 1px solid #cdcdcd;
        border-bottom: none;
        
}

 .selfdescription {
       padding-left: 15px;
 }

 .logo img { 
        height: 150px;
        width: 150px;
        margin-top: 30px;
        border-radius: 50%;
 }

 .logo p {
        color: #C73289;
        font-size: 21px;
 }

 .description  {
       color: rgba(0, 0, 0, 0.5);
       font-size: 15px;
       text-align: justify;
       padding-top: 10px;
       padding-right: 60px;
 }

 .hrule {

        margin: 30px 0;
 }

 .meetteam {
        text-align: center;
 }

 .meetteam p {
        font-size: 20px;
        margin: 30px 0 60px 60px;
        
 }

  figure {
        text-align: center;
 }

 figcaption {
        color: darkgrey;
        font-size: 13.5px;
        text-align: center;
        width: 47%;
        padding-top: 30px;
        margin: auto;
        border-radius: 5px;
 }

 figure:hover img {
    opacity: 0.85;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}

figure:hover figcaption {
    color: #fff;
    background-color: rgba(169, 169, 169, 0.8);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
    margin-top: 25px;
}

 .team {
       display: inline-block;
       position: relative;
       width: 160px;
       height: 160px;
       border-radius: 50%;
       overflow: hidden;
 }

 .team img {
       width: 100%;
       height: auto;
       margin: 0 0 0 9px;
 }

 .contacts {
        height: 350px;
        width: 100%;
        background-image: url(../../../assets/images/texturdbg4.jpg);
        background-repeat: repeat;
        border: 1px solid #cdcdcd;
        border-top: none;
        border-bottom: none;
        padding: 10px 0 0 45px;
        margin: 0;
 }

 .contacts p { 
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;        
        margin: 15px 0;
        margin-left: 25px;
 }

 .socioicon {
        height: 25px;
        width: 25px;
        display: block;
        margin-top: 45px;
 }

 .jiungebutton {
        height: 20px;
        width: auto;
        margin-right: 0px; 
        float: right;
        background: none;
        border: none;
 }

 #kid {
       float: left;
       height: 70px;
       width: 70px;
       margin: 20px 0 40px 220px;
 }

 .fruits {
       height: 110px;
       width: 90px;
       float: right;
       margin-top: 60px;
       margin-right: 290px;
 }

 .clear {
       clear: both;            /* to solve float overlapping issues */ 
}