 <main>
    <div class="container">
      <div class="row up">
        <div class="col-sm-3">
          <h3 style="color: #e46c2b; margin-left: 30px"> JUA LISHE BORA </h3>
        </div>
        <div class="col-sm-9">
          <p style="margin-top: 20px;">ni ..aptent taciti sociosqu ad litora torquent per conubia nostra, per ince
           ptos himenaeos. Curabitur sodales in libero. Sed dignissim lacinia nunc. Sed convalitis sem. Proin ut ligula vel nun gastas 
          porttitor. Morbi lectus risus, iaculi d, euismod in, lacina search
          vel, suscipit quiad litora torquent per conubia nostra, per ince
           ptos himenaeos. Curabitur sodales in libero. Sed dignissim lacinia nunc. Sed convalitis sem. Proin ut ligula vel nun gastas...</p>
        </div>
      </div>
      <h3 style="color: #e46c2b; margin-left: 13%; margin-top: 60px;"> Wateja wetu wanavyosema </h3>
      <div class="row down">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <p style=" font-style: italic;  color: #D0D0B0; margin-top: 40px;"> "Macenas mattis. Sed convalitis sem. Proin ut ligula vel nun gastas 
          porttitor. Morbi lectus risus, iaculi d, euismod in, lacina search
          vel, suscipit qui lectus risus, iaculi d, euismod in, lacina search
          vel, suscipit quiad litora torquent per conubia nostra, per ince
           ptos himenaeos. Curabitur sodales in libero.iaculi d, euismod in, lacina search
          vel, suscipit qui lectus risus, iaculi d, euismod in, lacina search
          vel, suscipit quiad litora torquent per. Sed." -Maria Thadeus </p>
          <p style=" font-style: italic; color: #D0D0B0; margin-top: 40px;">"Class aptent taciti sociosqu ad litora torquent per conubia nostra, per ince
           ptos himenaeos. Curabitur sodales in libero. Sed dignissim lacinia nunciaculi d, euismod in, lacina search
          vel, suscipit qui lectus risus, iaculi d, euismod in, lacina search
          vel, suscipit quiad litora torquent per.torquent per conubia nostra, per ince
           ptos himenaeos. Curabitur sodales in libero.iaculi d, euismod in, lacina search
          vel, suscipit qui lectus risus, iaculi d.
           Asante sana JLB" - Ester Kombo</p>
        </div>
        
      </div>
      <br><br><br><br>
      <button class="jiungebutton" 
      (click)= "toggleId()">Jiunge na program
      </button>
      <div class="clear"></div>

      <br><br><br><br>
      <br><br><br><br>
    <app-kujiunga *ngIf="showId"></app-kujiunga>
    <!--</div>
 </main> -->