
 .clear {
       clear: both;            /* to solve float overlapping issues */ 
}
 .container {
        background-color: #f7f7f7;
       
        padding:80px;

 }

.container a {
        color: ; 
        float: right;
        margin-left: 40px;
        margin-right: 20px;
        
}

.box {
        width: 100%;
        padding:40px 40px 90px 40px;
        background-color: #fff;
        border: 1px solid #d4d4d4;
        margin-bottom: 20px;
}

.box > h3 {
       color: green;
       margin-bottom: 25px;
}

.oneimage {
        height: 420px;
        margin-top: 15px;
        float: left; 
        clear: both;
        width: 85%; 
        margin-left: 4%;
        margin-bottom: 0.5em;
}

.jiungebutton {
        height: 20px;
        width: auto;
        margin-right: 0px; 
        float: right;
        background: none;
        border: none;
 }

.cbox { 
        color: #232323;
        padding: 20px 20px 15px 20px;
        width: 80%;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        background-color: #efefef;
}

.cbox h3 {
        margin-top: 0px;
}

.cbox hr {
        margin: 10px 0 38px 0;
        border-top: 1px solid #d4d4d4;
}

form  {
        width: 95%;
}

.field {
       margin-top: 20px;
}

.field label {
        margin-top: 0px;
}

#respond {
        margin-top: 0;
         }

#respond input[type= 'text'],
#respond input[type= 'email'],
#respond textarea {
        margin-bottom: 10px;
        display: block;
        width: 100%;

        border: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;

        line-height: 1.4em;
                  }

.submitbutton {
        color: #fff;
        background-color: rgba(101, 47, 133, 0.8);
        border: none;
        border-radius: 3px;
        float: right;
        padding: 6px 13px;
        margin: 10px 0 0 0; 
}

.avatar {
        height: 80px;
        width: 80px;
        border: 2px solid #fff;
        border-radius: 3px;
}

.cdbox { 
        color: #232323;
        width: 80%;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 20px;
}

.cmt {
        margin: 0 0;
}

.cmtavatar {
       
        padding: 0 12px 0 0;
}

.cmtavatarin {
        background-color: #efefef;
        width: auto;
        padding: 5px 5px 10px 5px;
        
}

.cmtavatarin p {
        color: darkgrey;
        margin: 3px 0 0 0;
        font-size: 17px;
}

.cmttext {
        color: #232323;
        padding: 5px 0;   
}

.cmttext p {
        font-size: 14px;
}
      