<app-header></app-header>
<!--<app-searchsection></app-searchsection>-->

   <main>
    <div class="container">

      <div class="row" style="width: 80%;" align="center">
          <div class="col-sm-11">Topics</div>
          <div class="col-sm-1" routerLink="/admin/makala-edit" routerLinkActive="active" style="color:#000;">Edit</div>
      </div>
      <hr style="width: 80%; height: 2px; background-color:#e46c2b; 
                 margin:3px auto;">
      <div>

      <!-- <table class="mtable" align="center">
         
         <tr *ngFor="let ctgry of makalacategories; let i = index"><td>{{ctgry.category_name}}</td><td class="rightcell"><button>x Remove</button> <input placeholder="New topic category" *ngIf = "dsply[i]" [(ngModel)]="category.category_name"> <button>{{renameData[i]}}</button> <button *ngIf = 'dsply[i]'>Update</button></td></tr>   
                                     
      </table>  -->
      
      <div *ngFor="let ctgry of makalacategories; let i = index" class="mtable">
         <div class="row" >
         
         <div class="col-sm-4 categoryname">{{ctgry.category_name}}</div><div class="rightcell col-sm-8"><button>x Remove</button> <input placeholder="New topic category" *ngIf = "dsply[i]" [(ngModel)]="category.category_name"> <button>{{renameData[i]}}</button> <button *ngIf = 'dsply[i]'>Update</button></div>  
         
         </div>                           
      </div>
      </div>
         <br><br><br><br><br><br>
    </div>
   </main>

    <br><br><br><br>

<app-footer></app-footer>