	<div class="container">
		<div class="box">
			<p>Shuuda kutoka kwa wateja wetu.</p>
			<hr>
			<div class="row">
				<div class="col-sm-3 n2n1">
					<p><span>"</span> <strong >Elit, sed do eiusmod tempor incididunt ut</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 greyf2gbg">
					<p><span>"</span> <strong>Alit, sed do eiusmod tempor incididunt ut</strong> exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 whiteb2gf">
					<p><span>"</span> <strong>Ilit, sed do eiusmod tempor incididunt ut</strong> enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 purpleb2pif">
					<p><span>"</span> <strong>Alit, sed do eiusmod tempor incididunt ut</strong> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 n2n">
					<p><span>"</span> <strong>Elit, sed do eiusmod tempor incididunt ut</strong> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 pinkf2puf">
					<p><span>"</span> <strong>Alit, sed do eiusmod tempor incididunt ut</strong> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 n2gf">
					<p><span>"</span> <strong>Ilit, sed do eiusmod tempor incididunt ut</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 pinkf2pib">
					<p><span>"</span> <strong>Alit, sed do eiusmod tempor incididunt ut</strong> magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea exercitation Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
				<div class="col-sm-3 greyb2n">
					<p><span>"</span> <strong>Elit, sed do eiusmod tempor incididunt ut</strong> Nemo enim ipsam voluptatem quia voluptas sit enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet, consectetur<br>
					<span class="speaker">- Rita Samson</span></p>
					<div class="clear"></div>
					<p></p>
				</div>
			</div>
		</div>
	</div>
