<main>
    <div class="container" >

     <form action="/action_page.php" >
<br><br>
<textarea class="area"  [(ngModel)]="shuhuda.body" rows="15px" cols="100px" name="usrtxt"   placeholder="Testimonial contents here...">

</textarea><br>

<textarea class="area" [(ngModel)]="shuhuda.name" rows="2px" cols="100px" name="usrtxt"   placeholder="Client's name">

</textarea><br>

<div id="outer">
  <div class="inner"><button type="submit" class="msgBtn" onClick="return false;" >Post New Testionial</button></div>
 <div class="inner"></div><div class="inner"></div>
<div class="inner"></div><div class="inner"></div>
  <div class="inner"><button type="submit" class="msgBtn2" onClick="return false;"
   routerLink="/admin/makala-subtopics" routerLinkActive="active" >Cancel</button></div>
 
</div>

</form>
 
    </div>
 </main>
 
