<div class="searchsection row">
      <div class="col-sm-9 makala" >
         <br><br><br><br>
         <br><br><br><br>
            <ul>
               <li>
                <a routerLink="makala" routerLinkActive="active"><button class="Makalabutton"><p style="color:#e46c2b;">Makala</p></button></a>
               </li>
               <li>
                <a routerLink="andika-blog" routerLinkActive="active"><button class="Makalabutton"><p>Blog Section</p></button></a>
               </li>
               <li>
                <a routerLink="clients" routerLinkActive="active"><button class="Makalabutton"><p>Clients</p></button></a>
               </li>
               <li>
                <a routerLink="subscribers" routerLinkActive="active"><button class="Makalabutton"><p>Subscribers</p></button></a>
               </li>
            </ul>
         <br><br><br>
      </div>
       
 </div>
 <div class="clear"></div>