 .container {
        background-color: #fff;
        box-shadow: 1px 6.5px 12px 1px #000;
        width: 100%;
        padding:20px;

 }
 .mtable {
        width: 80%;
        font-family:Verdana, Geneva, Tahoma, sans-serif
 }

 .mtable-checked {
        width: 80%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom:  100px;
 }

 th, td {
        
        padding: 3px 20px; 
 }

 .rightcell {
        
        border-left: 1px solid #e46c2b;

 }

 .mtable tr:nth-child(even), .mtable-checked tr:nth-child(even) {
       background-color: #fff
 }

.mtable tr:nth-child(odd), .mtable-checked tr:nth-child(odd) {
       background-color: #DCDCDC;
 }

.mtable th, .mtable-checked th {
       background-color: rgba(208, 108, 43, 0.6);
 }

.block {
      width: 89%;
      margin-left: auto;
      margin-right: auto;
}

.number {
      width: 8%;
}

.name {
      width: 32%;
}

.phonenumber {
      width: 30%;
} 

.status {
      width: 30%;
}

 td button {
      background: none;
      border: none;
}

 tr { 
      height: 65px;
}  

tr th { 
      text-align: center;
}

tr td { 
      padding: 5px 8px;
      text-align: center;
}  


tr td input {
      color: rgba(51, 51, 51, .8);
      padding: 1px 7px;
      margin: 0 20px 0 0;
      border: solid 1px  rgba(51, 51, 51, .5);
      height: 40px;
      border-radius: 4px; 
} 


tr td p {
      margin: 0; 
}  

.subscriberslist {
      margin: 0 0 50px 6%;
}

.subscriberslist h3 {
      margin: 0 0 35px 0 !important;
}

.subscriberslist label {
      color: #66615b;
      font-size: 16px;  
      font-weight: 400 !important;
}

.subscriberslist input {
      width: 60%;
      height: 40px;
      padding: 1px 7px;
      margin: 0 0 0 45px;
      border: solid 1px  rgba(51, 51, 51, .5);
      border-radius: 4px; 
     
}

.subscriberslist .btn-success {
      color: #fff;
      font-size: 25px;
      line-height: 30px;
      margin: 0 5% 0 0;
      padding: 4px 40px;
      float: right;
      border-radius: 4px;
      border: solid 1px;
}