<app-header></app-header>
<!--<app-searchsection></app-searchsection>-->
<main>
    <div class="container">
      
     <div class="row" style="width: 80%;" align="center">
          <div class="col-sm-6"><h4 style="color:black;">Jina</h4></div>
          
          <div class="col-sm-6"><h4 style="color:black;">Mawasiliano</h4></div>
         
      </div>
     
      <table class="mtable" align="center">
         <tr><th width="50%"></th><th width="50%"></tr>
         <tr><td>Careen</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Johnson</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Conso</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Monica</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Travece</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Derick</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Hubert</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Nelly</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Juma</td><td class="rightcell">0657242356</td></tr>
         <tr><td>Amina</td><td class="rightcell">0657242356</td></tr>
         <tr *ngFor="let   subscriber of subscribers"><td>{{subscriber.id}}</td><td class="rightcell">{{subscriber.phone_number}}</td></tr>
                                        
      </table>

      <br><br><br><br>
      
 
    </div>
 </main>

<app-footer></app-footer>