<main>
    <div class="container">
      

      <br><br><br><br>
      
 
      <div class="subscriberslist">
        <h3>Subscribers</h3>
     </div>
   


    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="pull-right"><span class="badge badge-info">4</span>

            </div>
        
        <div class="block-content collapse in">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="number">#</th>
                        <th class="name">Name</th>
                        <th class="phonenumber">Phone Number</th>
                        <th class="status">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subscriber of newsubscribers; let i = index">
                        <td>{{i + 1}}</td>
                        <td><span *ngIf="!showEraser[i]">{{subscriber.name}}</span> <input *ngIf="showEraser[i]"  placeholder="{{subscriber.name}}"><button class="ti-close" *ngIf="showEraser[i]" (click)="alterEditMode(i)"></button></td>
                        <td>{{subscriber.phone_number}}</td>
                        <td><button (click)="registerSubcriber(i)"><p *ngIf="!registered[i]">New</p><p *ngIf="registered[i]">Checked</p></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <br>

 </div>
 <br><br> 
      
 
    </div>
 </main>

