
  footer {   
      width: 100% ;
      height: 43px;
      vertical-align: middle;
      background-color: #DCDCDC; 
        }  

  .subcsribe_button {
      height: 35px;
      width: 150px;
      margin-top: 3px;
      margin-right: 4%;
      color: #ffffff;
      font-size: 17px;
      background-color: #493829;
      border: none;
      border-radius: 4px;
      float: right;
 }  

 #subscribe_text {
     line-height: 2em;
 }