<app-header></app-header>
<!--<app-searchsection></app-searchsection>-->
<main>
    <div class="container">
      
     <div class="row" style="width: 92%;" align="center">
          <div class="col-sm-5"><h4 style="color:black;">Jina</h4></div>
          <div class="col-sm-2"><h4 style="color:black;">Umri wa mtoto</h4></div>
          <div class="col-sm-4"><h4 style="color:black;">Mawasiliano</h4></div>
          <div class="col-sm-1"><h4 style="color:black;">Malipo</h4></div>
      </div>
     
      <table class="mtable" align="center">
         <tr><th width="38%"></th><th width="30%"></th><th width="27%"></th><th width="9%" ></th></tr>
         <tr *ngFor="let client of clients"><td>{{client.id}}</td><td class="rightcell">{{client.name}}</td><td class="rightcell">{{client.name}}</td><td class="rightcell">{{client.email}}</td>
     
                                        
      </table>

      <br><br><br><br>
      
 
    </div>
 </main>
<app-footer></app-footer>