

      <div class="Makala-items-bed">
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)=" getMakala(1)"> miezi0 - miezi6 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(2)"> miezi6 - miezi9 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miezi9 - miezi12 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(4)"> miezi12 - miezi15 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(2)"> miezi15 - miezi18 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(4)"> miezi18 - miezi24 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(1)"> miaka miwili </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miaka mitatu </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miaka minne </button></a>
      <hr>
        
      </div>



      

