      <div class="Makala-items-bed" [@flyInOut]="'in'" *ngIf='display'>
      <button class="close" (click)="ifdisplay()">&times;</button> 

      <p>Chagua umri wa mtoto</p>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)=" getMakala(1)"> miezi0 - miezi6 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(2)"> miezi6 - miezi9 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miezi9 - miezi12 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(4)"> miezi12 - miezi15 </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(1)"> miaka miwili </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miaka mitatu </button></a>
      <hr>
      <a (click)="onClick($event)" routerLinkActive="active"><button (click)="getMakala(3)"> miaka minne </button></a>         
      </div>



      

