.clear {
       clear: both;            /* to solve float overlapping issues */ 
}
 
 .Makala-items-bed {
        font-family: Montserrat-Regular;
        height:auto;
        width: 290px;
        padding: 0 0 0 0;
        margin-top: 0px;
        margin-right:20%;
        word-wrap: break-word;
        background-color: #FFF;
        border-top: 0 solid #ffb6c1;
        border-bottom: 7px solid #652f85;
        border-radius: 6px;
        box-shadow: 0px 8.5px -1px 0px #000;
        position: absolute;
        top: 25px;
        left:0px;
        z-index: 2000;
        float: right;
 }


.closebox {
        width: 100%;
        display: block;
        margin-bottom: 30px;
}

.close {
        font-size: 28px;
        opacity: 0.8;
        margin: 3px 10px 9px 11px;
        float: left;
        display: block;
        position: absolute;
} 

.close img {
        width: 18px;
        height: 18px;
}

.category {
        padding: 0 10px 0 10px;
        border-bottom: solid 1px rgba(136, 136, 136, .2);
        box-shadow: 4px 9px 14px rgba(136, 136, 136, .5);
        line-height: 60px;
        min-height: 60px;
}

.category:hover {
        color: #7d7185; 
}

.category button {
        color: rgba(0,0,0,0.7);
        font-family: 'Muli', "Helvetica", Arial, sans-serif;
        margin: 0 0 0 65px;       
}

.category button:hover {
        color: #7d7185;      
}

hr {
        width: 250px;
        margin: 15px auto;
}

.articletitles {
        margin: 0 0 15px 0;
}

button {
        background: none;
        border: none;
}

.articletittle a {
        margin: 0 0 0 20px;
        color: #000;
}

.articletittle a:hover {
        color: #7d7185; 
}

.glyphicon-triangle-right {
       
        color:  #FBC02D;
}

.articletittle {
        margin: 0 0 0 65px;
        text-align: left;
}

@media all and (max-width: 767px){
.Makala-items-bed {
        border-top: none;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;   
        right: 0;
        margin-right: 0;  
        margin-left: 103%;
         }

.close {
        
        position: relative;
} 

hr {
        width: 250px;
        margin: 0 auto;
}

.Makala-items-bed a {
        margin: 0 0 0 10px;
}

button {
        font-size: 13px;
}

a button {
        color: #FBC02D;
}

.articletittle {
        margin-bottom: 15px;
}

}
