

    <div class="Makala-items-bed" [@flyInOut]="'in'" *ngIf='display'>
     <button class="close" (click)="ifdisplay()">&times;</button>
      <div *ngFor= "let c of category"> 
        <a><button (click)="getMakala(c.id)"> {{c.category_name}} </button>
        <hr>
        </a>
        
        <div  *ngIf= "display1">
         <div *ngFor= "let m of makala">
           <button class="articletittle" (click)="onClick($event)" (click)="getArticle(m.id)"> {{m.title}} </button>
           <hr>
         </div>
        </div>
      </div>
      
    </div>



      

