<main>
 <div class="container" >

 <form>
 <br>

  <div class="entertitle">
   <input [(ngModel)]="blogpost.title" name="title" placeholder="Post's title">
  </div>


  <textarea class="area" [(ngModel)]="blogpost.body"
  rows="15px" cols="100px"
  name="description"   placeholder="Post's contents ...">

  </textarea><br>

  <div style="display: block;
    
    ">

  <!-- onServerRespose listener gets image details from upload image component-->
    <app-uploadimage
      (onServerResponse) = "initializeImageId($event)"
      class="uploadimage"
    ></app-uploadimage>
  <!---(click)="save()"-->
    
  </div>
  <!--<a href="#" style="position: absolute;left: 80%;">*View Earlier Posts</a>-->

</form>


  <div class="row filesupload">
      <div class="col-xl-4">
         <h3>Audio upload</h3>
          <!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf, .doc, .docx, .png, .jpeg">
          <p>sfgaszbaxcg</p> -->


     <!--      <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file"
                   id="file"
                   (change)="handleFileInput($event.target.files)">
        </div>

       <button (click) = "uploadFileToActivity()"> upload </button>
Adf

        <br><br><br> 
          <p-fileUpload name="myfile[]" url="http://api.jualishebora.gq/api/v1/images" multiple="multiple"
        accept="audio/*,image/*" auto="auto"></p-fileUpload>
sff -->
       <br>
          <form>
              <div class="form-group">


            <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            (onFileDrop)="fileselect($event)"
            class="well my-drop-zone">
           Base drop zone
           </div>
                 <!-- <label for="single">single File</label> -->
                  <input type="file" (change)="fileselect($event)" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
              </div> 
             <!-- <div class="form-group">
                  <label for="multiple">Multiple Files</label>
                  <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
              </div> -->
                        
          </form>
      </div>
      <div class="col-xl-8">
          Queue length: {{ uploader?.queue?.length }}

          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                  <td>
                      <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-success btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-warning btn-xs"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>

          <div>
              <div>
                  Queue progress:
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              <button type="button" class="btn btn-warning btn-s"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Remove all
              </button>
          </div>
      </div>
  </div>


  <app-upload-video></app-upload-video>
  <div id="videourl-input">
  <h5>4.</h5>
  <input [(ngModel)]="blogpost.video_url" placeholder="Paste video URL here ">   
  </div>
  

  <button class="btn-success post-to-page" (click)="add()"> Post to page </button>

</div>
</main>

