<app-header></app-header>
<!--<app-searchsection></app-searchsection>-->
<main>
    <div class="container" >

     <form action="/action_page.php" >
<br>
<textarea class="area"  rows="15px" cols="100px" name="usrtxt"   placeholder="Your contents here...">

</textarea><br>
<input type="submit" value="Post to Blog" style="display: block;
  margin-left: auto;
  margin-right: auto;
  ">
<a href="" style="position: absolute;left: 80%;">*View Earlier Posts</a>

</form>
 
    </div>
 </main>
<app-footer></app-footer>