<app-header></app-header>
<!--<app-searchsection></app-searchsection>-->

<main>
    <div class="container" >

     <form action="/action_page.php" >
<br><br>
<textarea class="area"  rows="15px" cols="100px" name="usrtxt"   placeholder="Your contents here...">

</textarea><br>


<div id="outer">
  <div class="inner"><button type="submit" class="msgBtn" onClick="return false;" >Post New Article</button></div>
 <div class="inner"></div><div class="inner"></div>
<div class="inner"></div><div class="inner"></div>
  <div class="inner"><button type="submit" class="msgBtn2" onClick="return false;"
   routerLink="/admin/makala-subtopics" routerLinkActive="active" >Cancel</button></div>
 
</div>

</form>
 
    </div>
 </main>
 
 <app-footer></app-footer>