<main>
    <div class="container">
      
     <div class="row" style="width: 80%;" align="center">
          <div class="col-sm-11"><h4 style="color:black;">Topics</h4></div>
          <div class="col-sm-1"><h4 style="color: #e46c2b;" routerLink="/admin/makala-subtopics" routerLinkActive="active">Done</h4></div>
      </div>
      <hr style="width: 80%; height: 2px; background-color:#e46c2b; 
                 margin:3px auto;">
      <table class="mtable" align="center">
         <tr><th width="70%">Lorem Ipsum 4</th><th  style="color:white;"width="30%" id="rightcell" class="rightcell">+ Add new topic</th></tr>
         <tr><td>Lorem Ipsum 4i</td><td class="rightcell">x Remove </td></tr>
         <tr><td>Lorem Ipsum 4ii </td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 4iii</td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 4iv</td><td class="rightcell">x Remove</td></tr>
         <tr><td><a routerLink="/admin/andika-makala" routerLinkActive="active" style="color:#000;">Lorem Ipsum 4v</a></td><td class="rightcell">x Remove</td></tr>
         <tr><td>Lorem Ipsum 4vi</td><td class="rightcell">x Remove</td></tr>
         <tr><td>.</td><td class="rightcell">x Remove</td></tr>
         <tr><td>.</td><td class="rightcell">x Remove</td></tr>
         <tr><td>.</td><td class="rightcell">.</td></tr>
         <tr><td>. </td><td class="rightcell"> .</td></tr>                                    
      </table>

      <br><br><br><br>
      
 
    </div>
 </main>
