 <!-- Modal  (click)="onClick1($event)" -->
      
      <div id="myModal" class="modal">
       <div class="modal-content">
        
         <div class="modal-body">
          
        <div class="row" style="width: 100%; margin: 70px 0 0 0;">
          <div class="col-sm-8 textcontainer">
          <h1 class="thankyoutext">Hongera ! </h1>
          <p class="thankyoutext">
              Taharifa zako zimetumwa <br>
              Utapokea maelekezo ya jinsi ya
              kufanya malipo...
          </p>
          </div>
          <div class="col-sm-4 buttoncontainer">
          <button class="Closebutton" (click)="onClick($event)">X</button>
          </div>
       </div>
        <br><br><br>
       </div>
      </div>
      </div>
    