<div class="row">
 <div class="col-sm-4 itembed">
     <button class="newitem">Mpya</button>
     <div class="itemcover">
          
     </div>
     <div class="item">
        <img src="./../../../assets/images/CFT.jpeg" class="itemimage">
        <h5>Kifaa cha kumnyweshea mtoto maziwa</h5>
        <h4>Tsh 7000/=</h4>
     </div>
 </div>
 <div class="col-sm-4 itembed">
     <div class="itemcover">
          
     </div>
     <div class="item">
        <img src="./../../../assets/images/CFT1.jpeg" class="itemimage">
        <h5>Dishi la chakula cha mtoto</h5>
        <h4>Tsh 7000/=</h4>
     </div>
 </div>
 <div class="col-sm-4 itembed">
     <div class="itemcover">
          
     </div>    
     <div class="item">
        <img src="./../../../assets/images/CFT2.jpg" class="itemimage">
        <h5>Aproni</h5>
        <h4>Tsh 7000/=</h4>
     </div>
 </div>
</div>

<div class="row">
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT.jpeg" class="itemimage">
               <h5>Kifaa cha kunyweshea mtoto maziwa</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT1.jpeg" class="itemimage">
               <h5>Dishi la chakula cha mtoto</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT2.jpg" class="itemimage">
               <h5>Aproni</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
</div>

<div class="row">
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT.jpeg" class="itemimage">
               <h5>Kifaa cha kunyweshea mtoto maziwa</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT1.jpeg" class="itemimage">
               <h5>Dishi la chakula cha mtoto</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
        <div class="col-sm-4 itembed">
             <div class="itemcover">
          
             </div>
            <div class="item">
               <img src="./../../../assets/images/CFT2.jpg" class="itemimage">
               <h5>Aproni</h5>
               <h4>Tsh 7000/=</h4>
            </div>
        </div>
</div>