.area{
  padding: 10px;
   background-color: #fff;
        box-shadow: 2.5px 2.5px 1.25px 5px #ddd inset;

      }
   
.btn{
  padding:1.3px;
}
  
.Mwanzo .Mwanzo {
        color: #ffffff !important;
        background-color:none !important;
        /*border-bottom: 2px solid #fff;
        border-radius: 3px;*/
        height: 40px;
 }

.clear {
       clear: both;            /* to solve float overlapping issues */ 
}

 .ccontainer {
       
        padding:25px 0 0 5px;

 }

.box {
        width: 100%;
        padding:0 0 40px 0px;
        background-color: #fff;
        margin-bottom: 50px;
        border-radius: 4px;
        box-shadow: 1px 0.5px 24px -9px #000; 
}

.noresultsview {
        
        font-size: 32px;
        padding: 20px 0 0 20px;
        height: 500px;
}

.box > .title {
       color: #000;
       font-size: 19px;
       padding: 0 0 0 25px;
       margin-bottom: 25px;
}

.iquote {
       margin: 0;
}

ibox {
       width: 100%;
}

.oneimage {
        height: 520px;
        float: left; 
        width: 100%; 
        margin-left: 0;
        margin-bottom: 17px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
}

.twoimage {
        height: 340px;
        float: left; 
        width: 95%; 
        margin-left: 4%;
        margin-bottom: 0.5em;
}

.quote {
        font-size: 19px;
        font-family: Purisa;
        color: rgba(0, 0, 0, 0.4);;
        height: 520px;
        width: 30%;
        padding: 95px 15px 0 15px;
        position: absolute;
        right: 15px;
        z-index: 1000;
}

.quote:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0.5);
        border-top-right-radius: 4px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
}

.blogtext {
        padding: 0 0 0 20px;
        width: 100%;
}

.somazaidi {
        color : #000;
        height: 20px;
        width: auto;
        margin: 0 0 5px 0; 
        float: right;
        padding: 0 20px 0 0;
        background: none;
        border: none;
 }
 
 .postedattime {
        color: rgba(90,76,60,0.8);
        float: left;
        margin: 0 0 0 20px;
 }

 .likes {
        color: #907660;
        font-size: 13px;
        padding: 5px 0 0 0;
        margin-bottom: 0;
        float: right;
 }

 button:focus {outline:0;}

 .likesbutton {
        height: 18px;
        width: 18px;
        padding: 0 0 0 5px;
        margin-right: 20px;
        border: none;
        background: none;
        float: right;     
 }

 .likesbutton img {
        height: 18px;
        width: 18px;
 }

 .shareicon {
       height: 18px;
       width: 18px;
       margin: 0 20px;
       float: right;
 }