<main>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="ccontainer">
    <!--<div *ngFor= "let g of giphies" class="box">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="quote">
            <p>
               <strong><span style="font-size:30px;">"</span> {{g.city}}
               <span style="font-size:30px;">"</span></strong>

            </p>
       </div>
    </div>

    <p class="blogtext">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    <p class="postedattime">6 oktoba 2017 2315</p>   
    <img src="../../../../assets/images/twitter.png" alt="Fruit View"
           class="shareicon">
    <img src="../../../../assets/images/facebok.png" alt="Fruit View"
           class="shareicon">
    <img src="../../../../assets/images/like.png" alt="Fruit View"
           class="shareicon"> 
    </div> -->
        
    <div *ngIf = 'showSearchResults'>
    <div *ngFor= "let g of searchResults" class="box">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="quote">
            <p>
               <strong><span style="font-size:30px;">"</span> {{g.title}}
               <span style="font-size:30px;">"</span></strong>

            </p>
       </div>
    </div>

    <p class="blogtext">
        {{g.body}}
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    <p class="postedattime">6 oktoba 2017 2315</p>
    <div class="postedattime_ss">6 oktoba '17</div>     
    <img src="../../../../assets/images/twitter1.png" alt="Fruit View"
           class="shareicon socialmedia">
    <img src="../../../../assets/images/facebok1.png" alt="Fruit View"
           class="shareicon socialmedia">
    <button class="likesbutton" (click) = "addLikes()"><img src="../../../../assets/images/like1.png" alt="Fruit View"></button>
    <p class="likes">{{postlikes}}</p>
    </div>   
    </div>
        
    
    
    <!--end of search result -->





     
    <div *ngIf = '!showSearchResults'>
    <div class="box">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="../../../../assets/images/happy mom.jpg" alt="Fruit View"
            class="oneimage">

       

       <div class="quote">
            <p>
               <strong><span>"</span> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nulla pariatur  
               <span>"</span></strong>

            </p>
       </div>
       </div>
    </div>

    <p class="blogtext">Ut enim ad minim veniam, ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt </p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active" (click)= "passPostId(2335)">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">
    <p class="postedattime">6 oktoba 2017 2315</p>
    <div class="postedattime_ss">6 oktoba '17</div>   
    <img src="../../../../assets/images/twitter1.png" alt="Fruit View"
           class="shareicon socialmedia" ceiboShare [twitter] ="{u: repoUrl}">
    <img src="../../../../assets/images/facebok1.png" alt="Fruit View"
           class="shareicon socialmedia" ceiboShare  [facebook] ="{u: repoUrl}">

    
    <button class="likesbutton" (click) = "addLikes()"><img src="../../../../assets/images/like1.png" alt="Fruit View" class="socialmedia"></button>
    <p class="likes">{{postlikes}}</p>
    </div>

    <!--end of first post-->






    <!--posts fetched from database-->
    <div *ngFor= "let b of blogpost | paginate: { itemsPerPage: 7, currentPage: p}">
     <div class="box" id="{{b.id}}">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="{{b.image_url}}" alt="Fruit View"
           class="oneimage">

       <div class="quote">
            <p>
               <span>"</span><strong>{{b.title}} 
               </strong><span>"</span>

            </p>
       </div>
       <div class="clear"></div>
       </div>
    </div>

    <p class="blogtext">{{b.body}}</p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi/{{b.id}}" routerLinkActive="active">Soma Zaidi </button> <!-- (click)="removeSearchInput()" (click)="onClick($event)"(click)="passPostId(b.id)" (click)="getPost(b.id)" -->
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">
    <p class="postedattime">6 oktoba 2017 2315</p>
    <div class="postedattime_ss">6 oktoba '17</div>    
    <img src="../../../../assets/images/twitter1.png" alt="Fruit View"
           class="shareicon socialmedia" ceiboShare [twitter] ="{u: repoUrl}">
    <img src="../../../../assets/images/facebok1.png" alt="Fruit View"
           (click) = "specifyUrl(b.id)" class="shareicon socialmedia" ceiboShare  [facebook] ="{u: repoUrl}">

    
    <button class="likesbutton" (click) = "addLikes()"><img src="../../../../assets/images/like1.png" alt="Fruit View"></button>
    <p class="likes">{{postlikes}}</p>
    </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="p = $event"                
                                                previousLabel="Kurasa iliyopita"
                                                nextLabel="Nyingine"
    >

    </pagination-controls>
    <!--end of posts fetched from database-->   









   <!-- <div class="box">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="quote">
            <p>
               <strong><span style="font-size:30px;">"</span> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nulla pariatur  
               <span style="font-size:30px;">"</span></strong>

            </p>
       </div>
    </div>

    <p class="blogtext">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active" (click)="getPost(1)">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    <p class="postedattime">6 oktoba 2017 2315</p>   
    <img src="../../../../assets/images/twitter.png" alt="Fruit View"
           class="shareicon">
    <div class="fb-share-button" data-href="http://jualishebora.ga/wazazi/blog-section" 
    data-layout="button_count" data-size="small" data-mobile-iframe="false">
    <a class="fb-xfbml-parse-ignore" target="_blank" 
    href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fjualishebora.ga%2Fwazazi%2Fblog-section&amp;src=sdkpreparse">
    <img src="../../../../assets/images/facebok.png" alt="Fruit View"
           class="shareicon"></a></div>
    <button class="likesbutton" (click) = "addLikes()"><img src="../../../../assets/images/like.png" alt="Fruit View"></button>
    <p class="likes">{{postlikes}}</p>
    </div>

   

    <div class="box">
     
    <div class="row iquote" style="width:100%;">
       <div class="ibox">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="quote">
            <p>
               <strong><span style="font-size:30px;">"</span> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nulla pariatur  
               <span style="font-size:30px;">"</span></strong>

            </p>
       </div>
    </div>

    <p class="blogtext">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </p><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active" (click)="getPost(1)">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    <p class="postedattime">6 oktoba 2017 2315</p>   
    <img src="../../../../assets/images/twitter.png" alt="Fruit View"
           class="shareicon" ceiboShare [twitter] ="{u: repoUrl}">
    <img src="../../../../assets/images/facebok.png" alt="Fruit View"
           class="shareicon" ceiboShare  [facebook] ="{u: repoUrl}">
    <button class="likesbutton" (click) = "addLikes()"><img src="../../../../assets/images/like.png" alt="Fruit View"></button>
    <p class="likes">{{postlikes}}</p>
    </div> -->
    </div> 



    <div class="box noresultsview" *ngIf = 'noResultsFound && showSearchResults'>
      <p>Results not found</p> 
    </div>
    

    <!--<p> Sed ut perspiciatis unde omnis iste natus error sit 
        voluptatem accusantium doloremque laudantium, totam 
        rem aperiam, eaque ipsa quae ab illo inventore veritatis 
        et quasi architecto beatae vitae dicta sunt 
        explicabo. eos qui ratione voluptatem 
        sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, 
        adipisci velit, sed quia non numquam eius modi tempora 
        incidunt ut labore et dolore magnam aliquam quaerat 
        voluptatem. Ut enim ad minima veniam, quis nostrum 
        exercitationem ullam corporis suscipit laboriosam, nisi ut 
        aliquid ex ea commodi consequatur? Quis autem vel eum iure 
        reprehenderit qui in ea voluptate velit esse quam nihil molestiae 
        consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
        pariatur
     </p>



<br><br><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
           blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
           et quas molestias excepturi sint occaecati cupiditate non provident,
           similique sunt in culpa qui officia deserunt mollitia animi, id est 
           laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita 
           distinctio. Nam libero tempore, cum soluta nobis est eligendi
           optio cumque nihil impedit quo minus id quod maxime placeat facere
           possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
           Temporibus autem quibusdam et aut officiis debitis aut rerum 
           necessitatibus saepe eveniet ut et voluptates repudiandae
           sint et molestiae non recusandae. Itaque earum rerum hic 
           tenetur a sapiente delectus, ut aut reiciendis voluptatibus 
           maiores alias consequatur aut perferendis doloribus asperiores 
           repellat.
        </p> -->
</div>
 </main>