<main>
    <div class="ccontainer">

    <br>
    <div *ngFor= "let g of giphies" class="box">  <!-- search result begins-->
      
           <h3>{{g.name}}</h3>
    <div class="row" style="width:90%;">
       <div class="col-sm-9">
          
           <img src="../../../../assets/images/happy mom.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="col-sm-3">
            <p class="quote">
               <span style="font-size:30px;">"</span> {{g.city}}
               <span style="font-size:30px;">"</span>

            </p>
       </div>
    </div>

    <P style="width: 90%;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </P><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    
    </div> <!--end of search result -->
     


    <div class="box">
     <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
       incididunt.</h3>
    <div class="row" style="width:90%;">
       <div class="col-sm-9">
          
           <img src="../../../../assets/images/happy mom.jpg" alt="Fruit View"
           class="oneimage">

       </div>

       <div class="col-sm-3">
            <p class="quote">
               <span style="font-size:30px;">"</span> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nulla pariatur  
               <span style="font-size:30px;">"</span>

            </p>
       </div>
    </div>

    <P style="width: 90%;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </P><br>
    <button class="somazaidi" routerLink="/wazazi/soma-zaidi" routerLinkActive="active">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">    
    
    </div>


    <div class="box">
         <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
       incididunt.</h3>
    <div class="row" style="width:90%;">
       <div class="col-sm-9">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="twoimage">

       </div>

       <div class="col-sm-3">
            <p class="quote">
               <span style="font-size:30px;">"</span> aute irure in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur cupidatat nulla pariatur  
               <span style="font-size:30px;">"</span>

            </p>
       </div>
    </div>

    <P style="width: 90%;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </P><br>
    <button class="somazaidi">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">  
    </div>
    


    <div class="box">
      <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
       incididunt.</h3>
    <div class="row" style="width:90%;">
       <div class="col-sm-9">
          
           <img src="../../../../assets/images/happy mom1.jpg" alt="Fruit View"
           class="twoimage">

       </div>

       <div class="col-sm-3">
            <p class="quote" >
               <span style="font-size:30px;">"</span>{{post.description}} 
               <span style="font-size:30px;">"</span>

            </p>
       </div>
    </div>

    <P style="width: 90%;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud amet ea
          exercitation Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur dolores aliquip ex aliqua </P><br>
    <button class="somazaidi">Soma Zaidi </button>
    <div class="clear"></div>
    <hr style="margin-top: 10px; ">  
    
    <br>
    </div>
    

    <!--<p> Sed ut perspiciatis unde omnis iste natus error sit 
        voluptatem accusantium doloremque laudantium, totam 
        rem aperiam, eaque ipsa quae ab illo inventore veritatis 
        et quasi architecto beatae vitae dicta sunt 
        explicabo. eos qui ratione voluptatem 
        sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, 
        adipisci velit, sed quia non numquam eius modi tempora 
        incidunt ut labore et dolore magnam aliquam quaerat 
        voluptatem. Ut enim ad minima veniam, quis nostrum 
        exercitationem ullam corporis suscipit laboriosam, nisi ut 
        aliquid ex ea commodi consequatur? Quis autem vel eum iure 
        reprehenderit qui in ea voluptate velit esse quam nihil molestiae 
        consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
        pariatur
     </p>



<br><br><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
           blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
           et quas molestias excepturi sint occaecati cupiditate non provident,
           similique sunt in culpa qui officia deserunt mollitia animi, id est 
           laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita 
           distinctio. Nam libero tempore, cum soluta nobis est eligendi
           optio cumque nihil impedit quo minus id quod maxime placeat facere
           possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
           Temporibus autem quibusdam et aut officiis debitis aut rerum 
           necessitatibus saepe eveniet ut et voluptates repudiandae
           sint et molestiae non recusandae. Itaque earum rerum hic 
           tenetur a sapiente delectus, ut aut reiciendis voluptatibus 
           maiores alias consequatur aut perferendis doloribus asperiores 
           repellat.
        </p> -->
</div>
 </main>