 <!-- Modal -->
      <div id="myModal" class="modal">

       <div class="modal-content">
         <div class="modal-header">
            <span class="close">&times;</span>
            <h4>Jaza fomu hii kujiunga na Programu yetu, kwenye
              Program hii utapata ushauri, ... Class aptent taciti sociosqu ad
               litora torquent</h4>
         </div>
         <div class="modal-body">
           
           <form>
            <input type="text" name="comment_author" id="comment_author" value=""  placeholder="Jina" required="required" style="display: block; margin: 10px 20px;">
            <input type="text" name="comment_author" id="comment_author" value=""  placeholder="Umri wa mtoto" required="required" style="display: block;margin: 10px 20px;">
            <input type="text" name="comment_author" id="comment_author" value=""  placeholder="Namba ya Whatsapp" required="required"style="display: block;margin: 10px 20px;" >
           </form>
         </div>
         <div class="modal-footer">
            <h4 style="margin-right: 20%">Sawa</h4>
         </div>
       </div>
      </div>
      <br><br>
      <br><br><br><br>
      <br><br><br><br>
    
 