 <!-- Modal -->
      <div id="myModal" class="modal">

       <div class="modal-content">
         <button class="close" (click)="onClick($event)">&times;</button>
         <div class="modal-header">
            <p>Jaza fomu hii kujiunga na Programu yetu, kwenye
              Program hii utapata ushauri. Class aptent taciti sociosqu ad
               litora torquent  ushauri. Class aptent taciti sociosqu ad
               litora torquent</p>
         </div>
         <div class="modal-body">
           
           <form>
            <input type="text" name="comment_author" class="contactfield" id="comment_author" value=""  placeholder="Jina" [(ngModel)]="client.name" required="required">
            <input type="text" name="comment_author" class="contactfield" id="comment_author" value=""  placeholder="Umri wa mtoto" [(ngModel)]="client.id" required="required">
            <input type="text" name="comment_author" class="contactfield" id="comment_author" value=""  placeholder="Namba ya Whatsapp" [(ngModel)]="client.email" required="required">
           </form>
         </div>
         <div class="modal-footer">
            <a class="modallinks"><button class="sendbutton" (click)="add()">Tuma taharifa</button></a>
         </div>
       </div>
      </div>
      <br><br>
      <br><br><br><br>
      <br><br><br><br>
    
 