 <!-- Modal -->
      <div id="myModal" class="modal">

       <div class="modal-content">
         <button class="close" (click)="exitModal($event)">&times;</button>
         <div class="modal-header">
            <p>Ukijaza fomu hii utaunganishwa kwenye darasa letu
              ambapo utapokea mafunzo kila siku kuhusiana na malezi ya
              watoto wachanga. Pia utapata nafasi ya kubadilishana
              mawazo na ujuzi na wazazi wenye watoto wa umri kama ule
              wa mwanao.
            </p>
         </div>
         <div class="modal-body"> 


           
           <form #kujiungaform="ngForm">
            <input type="text" name="comment_author" class="contactfield" id="jina" value=""  placeholder="Jina" required [(ngModel)]="wazazi.first_name" #jina="ngModel">
             <div *ngIf="(jina.errors && (jina.dirty || jina.touched)) || (isInputdataMissing && jina.errors)" class="alert alert-danger" class="inputErrormessage">
               <div [hidden]="!jina.errors.required" >
                   Tafadhari jaza Jina lako
               </div>
             </div>  

             <input type="text" name="comment_author" class="contactfield" id="jina" value=""  placeholder="Jina la Mzazi" required [(ngModel)]="wazazi.surname" #jina="ngModel">
             <div *ngIf="(jina.errors && (jina.dirty || jina.touched)) || (isInputdataMissing && jina.errors)" class="alert alert-danger" class="inputErrormessage">
               <div [hidden]="!jina.errors.required" >
                   Tafadhari jaza Jina la Mzazi
               </div>
             </div>

            <input type="text" name="comment_author" class="contactfield" id="umri" value=""  placeholder="Umri wa mtoto" [(ngModel)]="wazazi.childs_age" required="required" #umri="ngModel">
             <div *ngIf="(umri.errors && (umri.dirty || umri.touched))|| (isInputdataMissing && umri.errors)" class="alert alert-danger" class="inputErrormessage">
               <div [hidden]="!umri.errors.required" >
                   Tafadhari jaza umri wa mtoto
               </div>
             </div>  
            
           <input type="text" name="comment_author" id="phone" 
             class="contactfield" value=""  placeholder="Namba ya Whatsapp" 
             required [(ngModel)]="wazazi.phone_number" #phone="ngModel">
             <div *ngIf="(phone.errors && (phone.dirty || phone.touched))|| (isInputdataMissing && phone.errors)" class="alert alert-danger" class="inputErrormessage">
               <div [hidden]="!phone.errors.required" >
                   Tafadhari jaza namba yako ya simu
               </div>
             </div>  
           </form>


         </div>
        <div class="modal-footer">
             <a class="modallinks"><button class="sendbutton" (click)="onClick($event)" (click)="add()" 
                                    [disabled]="!kujiungaform.form.valid"><button (click)="alertUser()" class="sendbutton"> Tuma taharifa</button> </button></a>
         </div>
       </div>
      </div>
      <br><br>
      <br><br><br><br>
      <br><br><br><br>
    
 